@import "pages/index.scss";
@import "pages/product.scss";
* {
  font-family: sans-serif;
}
body {
  margin: 0;
}
.header, .footer {
  background-color: #000000;
  color: aliceblue;
  text-align: center;
  padding: 20px;
}
.header {
  font-size: 30px;
}